# Header
#Header set Access-Control-Allow-Credentials true
#Header set Strict-Action GET

# Options
Options +FollowSymLinks
Options -Indexes

# Conditions
RewriteEngine on

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L] 

RewriteCond %{SCRIPT_FILENAME} !-f 
RewriteCond %{SCRIPT_FILENAME} !-d 
RewriteBase /meutroco.com.br