/*
 * Check Project
 * 
 * @project		Check
 * @site		--
 * @version		1.1
 * @package		print
 * @author		Rafael Heringer Carvalho
 * @copyright	2011 Letsrider!
 */

* {background:none; font-family:Arial, Helvetica, sans-serif!important;}
body {background:white; margin:0; padding:0;}
@page {margin:0.3in;}
#header, #footer, #navigation, #contentWrap {width:100%; position:relative;}
#mainContent {width:78%; position:relative!important;}
.actions {display:none;}

/* Header */
header {height:125px!important; border-bottom:1px dashed #999;}

/* Navigation */
#navigation {display:none;}

/* Sidebar */
#sidebar {margin-right:2%; width:20%;}
#sidebar h3 {padding-left:5px;}

/* User área */
#userArea .avatar .avatarEffect {display:none;}

/* Block */
.block {width:48%!important; margin-right:2%!important;}
.block.double {width:98%!important;}