/*
 * Check Project
 * 
 * @project		Check
 * @site		--
 * @version		1.1
 * @package		layout
 * @author		Rafael Heringer Carvalho
 * @copyright	2011 Letsrider!
 */
/* line 17, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Projetos e Freelances/qx3/Interfaces/Treinamento/Sass/Programas e Arquivos/CompassWatcher/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ERIC'S MEYER RESET
=============================*/
/* line 17, source/style.scss */
article, aside, dialog, figure, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  display: block;
}

/* line 18, source/style.scss */
a {
  text-decoration: none;
  color: #73a8c0;
}

/* line 19, source/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
}

/* BASIC DEF
=============================*/
/* line 23, source/style.scss */
html {
  height: 100%;
}

/* line 24, source/style.scss */
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  color: #666;
  height: 100%;
  background: url(../_img/backgrounds/body.jpg) repeat-x center top white;
  background-attachment: scroll;
}

@font-face {
  font-family: Sketch;
  src: url("SketchFlowPrint.ttf");
}

/* Scrollbars in Chrome */
/* line 28, source/style.scss */
body::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  border-left: 1px solid #CCC;
  background: #F7F7F7;
}

/* line 29, source/style.scss */
body::-webkit-scrollbar:hover {
  background: #e5e5e5;
}

/* line 31, source/style.scss */
body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment {
  height: 30px;
  display: none;
  background-color: transparent;
}

/* line 32, source/style.scss */
body::-webkit-scrollbar-track-piece {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 33, source/style.scss */
body::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(115, 168, 192, 0.3);
  -webkit-border-radius: 3px;
  -webkit-transition: all 200ms ease-in-out;
}

/* line 34, source/style.scss */
body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(115, 168, 192, 0.6);
}

/* Titles */
/* line 37, source/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 38, source/style.scss */
h2 {
  font-family: Sketch, Verdana;
  margin: 0 0 35px 0;
  font-size: 16px;
  color: #73a8c0;
}

/* line 39, source/style.scss */
h3 {
  font-size: 12px;
  margin: 0 0 5px 0;
  background-position: 10px center;
  background-repeat: no-repeat;
  position: relative;
}

/* @section LAYOUT & STRUCTURE
=============================*/
/* Others */
/* line 48, source/style.scss */
.wrap,
#header,
#footer,
#navigation,
#contentWrap {
  width: 990px;
  margin: auto;
}

/* line 49, source/style.scss */
#mainContent {
  float: left;
  width: 720px;
}

/* line 50, source/style.scss */
.clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
}

/* line 51, source/style.scss */
#giveFeedback {
  width: 36px;
  height: 119px;
  background: url(../_img/feedback.png) no-repeat 0 0;
  text-indent: -999%;
  position: fixed;
}

/* Loading */
/* line 54, source/style.scss */
#contentLoading {
  width: 100%;
  height: 325px;
  background: url(../_img/loading.gif) no-repeat center center;
  text-align: center;
}

/* line 55, source/style.scss */
#contentLoading p {
  padding: 29% 0 0 0;
}

/* line 56, source/style.scss */
.popUp .loading {
  width: 100%;
  height: 110px;
  background: url(../_img/loading.gif) no-repeat center center;
  text-align: center;
}

/* line 57, source/style.scss */
.popUp .loading p {
  padding: 95px 0 0 0;
}

/* line 58, source/style.scss */
#loadingRequest {
  background: #FF9;
  border: 1px solid #FC3;
  position: fixed;
  margin: -10px 0 0 -100px;
  left: 50%;
  padding: 15px 0 10px 0;
  top: 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  z-index: 1010;
  opacity: .9;
  font-size: 10px;
  display: none;
}

/* Tooltip */
/* line 61, source/style.scss */
.balloonArrow {
  display: block;
  width: 15px;
  height: 9px;
  background: url(../_img/balloonArrow.png) no-repeat left top;
  position: absolute;
  top: -9px;
  left: 15px;
}

/* Tip */
/* line 64, source/style.scss */
#ui-tip {
  border: 1px solid #73A8C0;
  background: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  opacity: .8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: none;
}

/* Clouds */
/* line 67, source/style.scss */
#clouds {
  background: url(../_img/backgrounds/clouds.png) repeat-x left top;
}

/* New user Area */
/* line 70, source/style.scss */
.newUser {
  margin-left: -270px;
}

/* line 71, source/style.scss */
.newUser h2 {
  font-size: 20px;
}

/* line 72, source/style.scss */
.newUser p {
  margin-bottom: 20px;
}

/* Header */
/* line 75, source/style.scss */
#header {
  height: 225px;
  margin-bottom: 20px;
  color: #73A8C0;
  position: relative;
  z-index: 2;
}

/* line 76, source/style.scss */
#header h1 {
  background: url(../_img/backgrounds/logoBg.png) no-repeat left top;
  width: 326px;
  height: 113px;
  padding: 7px 0 0 17px;
  float: left;
}

/* line 77, source/style.scss */
#header h1 a {
  width: 292px;
  height: 97px;
  display: block;
}

/* User Area */
/* line 80, source/style.scss */
#userArea {
  width: 202px;
  height: 69px;
  float: right;
  background: url(../_img/backgrounds/userAreaLoggedBg.png) no-repeat left top;
  padding: 7px 17px 0 17px;
}

/* line 81, source/style.scss */
#userArea .avatar {
  width: 55px;
  height: 55px;
  position: relative;
  float: left;
  margin: 0 5px 0 0;
}

/* line 82, source/style.scss */
#userArea .avatar .avatarEffect {
  width: 55px;
  height: 55px;
  display: block;
  background: url(../_img/avatarEffect.png) no-repeat left top;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 83, source/style.scss */
#userArea .welcome {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 3px;
}

/* line 84, source/style.scss */
#userArea .logInfo {
  margin-bottom: 5px;
}

/* line 85, source/style.scss */
#userArea .btnExit {
  float: right;
  width: 39px;
  height: 22px;
  display: block;
  background: url(../_img/btn/buttonsSprite.png) no-repeat 0 0;
  text-indent: -999px;
  font-size: 0;
  font-weight: 0;
}

/* line 87, source/style.scss */
#userArea .btnExit:hover,
#userArea .btnExit:focus {
  background-position: -39px top;
}

/* line 88, source/style.scss */
#userArea .btnExit:active {
  background-position: -78px top;
}

/* line 89, source/style.scss */
#userArea .myProfileLink {
  font-weight: bold;
  display: block;
  float: left;
  padding-top: 5px;
}

/* Navigation */
/* line 92, source/style.scss */
#navigation {
  margin-bottom: 30px;
}

/* line 93, source/style.scss */
#navigation ul {
  display: inline-block;
}

/* line 94, source/style.scss */
#navigation li {
  font-weight: bold;
  color: #73a8c0;
  display: inline-block;
  margin: 0 25px 0 0;
}

/* line 95, source/style.scss */
#navigation li {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* CSS3 */
/* line 96, source/style.scss */
#navigation li:hover {
  background: #dfebf0;
}

/* line 97, source/style.scss */
#navigation li a {
  text-decoration: none;
  color: inherit;
  padding: 7px 10px;
  display: block;
}

/* line 98, source/style.scss */
#navigation li ul {
  background: white;
  display: none;
  position: absolute;
  padding: 5px 10px 5px 10px;
  margin: 3px 0 0 0;
}

/* line 99, source/style.scss */
#navigation li ul {
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* CSS3 */
/* line 100, source/style.scss */
#navigation li ul li {
  display: list-item;
  color: #999;
  font-weight: normal;
  margin: 0;
}

/* line 101, source/style.scss */
#navigation li ul li a {
  padding: 5px 5px 5px 20px;
}

/* line 102, source/style.scss */
#navigation li.active {
  color: white;
  background: #73a8c0;
}

/* line 108, source/style.scss */
#navigation .nav-account-edit a,
#navigation .nav-account-view a,
#navigation .nav-account-add a,
#navigation .nav-tag-edit a,
#navigation .nav-tag-view a,
#navigation .nav-tag-add a {
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 110, source/style.scss */
#navigation .nav-account-edit a,
#navigation .nav-tag-edit a {
  background-image: url(../_img/icons/pencil-small.png);
}

/* line 112, source/style.scss */
#navigation .nav-account-view a,
#navigation .nav-tag-view a {
  background-image: url(../_img/icons/eye-small.png);
}

/* line 114, source/style.scss */
#navigation .nav-account-add a,
#navigation .nav-tag-add a {
  background-image: url(../_img/icons/plus-small.png);
}

/* Sidebar */
/* line 117, source/style.scss */
#sidebar {
  width: 200px;
  float: left;
  margin: 0 70px 0 0;
  min-height: 10px;
}

/* line 118, source/style.scss */
#sidebar h3 {
  background-color: #f7f7f7;
  display: block;
  padding: 5px 0 5px 35px;
}

/* line 119, source/style.scss */
#sidebar h3 .actions {
  display: none;
}

/* line 120, source/style.scss */
#sidebar h3 .actions {
  float: right;
  top: -20px;
  right: 0;
  background: #F7F7F7;
  position: absolute;
  padding-left: 5px;
  border-radius: 5px 5px 0 0;
}

/* line 121, source/style.scss */
#sidebar h3 a {
  color: inherit;
}

/* line 122, source/style.scss */
#sidebar .account {
  margin: 0 0 30px 0;
}

/* line 123, source/style.scss */
#sidebar .account:hover {
  background-color: #f7f7f7;
}

/* line 124, source/style.scss */
#sidebar .account:hover .actions {
  display: block;
}

/* line 125, source/style.scss */
#sidebar .account a:hover {
  color: #73A8C0;
}

/* Tables */
/* line 128, source/style.scss */
.tableList > li {
  border-bottom: 1px solid #ebebeb;
  padding: 5px 3px 5px 3px;
}

/* line 129, source/style.scss */
.tableList > li.subtitle {
  border: none;
  font-weight: bold;
  padding-top: 10px;
}

/* line 130, source/style.scss */
.tableList .amount {
  float: right;
}

/* line 131, source/style.scss */
.tableList .total {
  font-weight: bold;
  color: #666;
}

/* line 132, source/style.scss */
.tableList tr:hover:not(.total):not(.removed) td {
  background-color: #f7f7f7;
}

/* line 133, source/style.scss */
.tableList tr:hover:not(.total):not(.removed) .actions {
  display: table-cell;
}

/* line 134, source/style.scss */
.tableList tr:hover:not(.total):not(.removed) .amount {
  display: none;
}

/* line 135, source/style.scss */
.tableList tr.removed {
  opacity: .4;
}

/* line 136, source/style.scss */
.tableList td {
  border-bottom: 1px solid #ebebeb;
  padding: 7px 5px 5px 5px;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 137, source/style.scss */
.tableList td.amount {
  float: none;
  text-align: right;
}

/* line 138, source/style.scss */
.tableList tr[data-type="3"] td.amount {
  color: #666;
}

/* line 139, source/style.scss */
.tableList tr[data-type="2"] td.amount {
  color: #30a168;
}

/* line 140, source/style.scss */
.tableList tr[data-type="1"] td.amount {
  color: #c63a3a;
}

/* line 141, source/style.scss */
.tableList td.count {
  font-size: 9px;
  color: #999;
  padding-left: 10px;
}

/* line 142, source/style.scss */
.tableList td.date {
  color: #999;
  font-size: 10px;
}

/* line 143, source/style.scss */
.tableList td.name span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 144, source/style.scss */
.block .tableList td.name span {
  width: 155px;
}

/* line 145, source/style.scss */
.tableList .actions {
  padding: 0;
  display: none;
  text-align: right;
}

/* line 146, source/style.scss */
.tableList .actions span {
  display: inline-block;
  text-indent: -999px;
  font-size: 0;
  padding: 5px 0 0 0;
  margin: 0;
  height: 13px;
  background-position: center center;
}

/* line 147, source/style.scss */
.tableList .actions span + span {
  margin-left: -3px;
}

/* line 148, source/style.scss */
.tableList td h3 {
  margin: 0;
}

/* line 149, source/style.scss */
.tableList td.noData {
  white-space: normal;
  line-height: 15px;
  border: none;
  padding: 5px 5px 5px 25px;
  background: url(../_img/icons/exclamation.png) no-repeat left center #f7f7f7;
}

/* line 151, source/style.scss */
.cashFlow {
  width: 100%;
}

/* line 152, source/style.scss */
.cashFlow th[scope="rowgroup"] {
  padding-top: 15px;
}

/* line 153, source/style.scss */
.cashFlow td, .cashFlow th {
  border-bottom: 1px solid #ebebeb;
  padding: 7px 5px 5px 5px;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 154, source/style.scss */
.cashFlow tfoot td, .cashFlow tfoot th {
  background-color: #f7f7f7;
  font-size: 13px;
  font-weight: bold;
}

/* line 155, source/style.scss */
.cashFlow td.amount, .cashFlow th[scope="row"] {
  text-align: right;
}

/* line 156, source/style.scss */
.cashFlow .partialTotalAmount td, .cashFlow .partialTotalAmount th {
  padding-top: 20px;
}

/* line 157, source/style.scss */
.cashFlow .actions {
  padding: 0;
  display: none;
  text-align: right;
}

/* line 158, source/style.scss */
.cashFlow .actions span {
  display: inline-block;
  text-indent: -999px;
  font-size: 0;
  padding: 5px 0 0 0;
  margin: 0;
  height: 13px;
  background-position: center center;
}

/* line 159, source/style.scss */
.cashFlow .actions span + span {
  margin-left: -3px;
}

/* line 160, source/style.scss */
.cashFlow tbody tr:hover:not(.total):not(.partialTotalAmount):not(.removed) td {
  background-color: #f7f7f7;
}

/* line 161, source/style.scss */
.cashFlow tbody tr:hover:not(.total):not(.partialTotalAmount):not(.removed) .actions {
  display: table-cell;
}

/* line 162, source/style.scss */
.cashFlow tbody tr:hover:not(.total):not(.partialTotalAmount):not(.removed) .amount {
  display: none;
}

/* Actions & Icons */
/* line 165, source/style.scss */
.actions {
  text-align: right;
  min-height: 25px;
}
/* line 166, source/style.scss */
.actions li {
  background-repeat: no-repeat;
  background-position: 0 center;
  padding: 5px 0;
  margin: 5px 0 0 0;
  display: block;
  cursor: pointer;
  float: left;
  height: 100%;
}
/* line 167, source/style.scss */
.actions a {
  color: #999;
  font-size: 10px;
  font-weight: normal;
}
/* line 168, source/style.scss */
.actions a:hover {
  color: #73A8C0;
}
/* line 169, source/style.scss */
.actions > span {
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;
  height: 20px;
}
/* line 170, source/style.scss */
.actions > span a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 171, source/style.scss */
.actions .addTrans {
  background-image: url(../_img/icons/plus-button.png);
  width: 128px;
  float: right;
}
/* line 172, source/style.scss */
.actions .editSmall {
  background-image: url(../_img/icons/pencil-small.png);
  width: 20px;
}
/* line 173, source/style.scss */
.actions .removeSmall {
  background-image: url(../_img/icons/cross-small.png);
  width: 20px;
}
/* line 174, source/style.scss */
.actions .viewAll {
  background-image: url(../_img/icons/eye.png);
}
/* line 175, source/style.scss */
.actions .viewSmall {
  background-image: url(../_img/icons/eye.png);
  width: 20px;
}
/* line 176, source/style.scss */
.actions .goBack {
  background-image: url(../_img/icons/arrow-curve-180-left.png);
  float: right;
}

/* line 179, source/style.scss */
h2 .actions {
  line-height: 22px;
}

/* line 180, source/style.scss */
h2 .actions > span {
  padding-left: 22px;
}

/* line 182, source/style.scss */
#monthBalance h3 {
  background-image: url(../_img/icons/chart-up-color.png);
}

/* line 183, source/style.scss */
#tagTransactions h3 {
  background-image: url(../_img/icons/chart-up-color.png);
}

/* line 184, source/style.scss */
#transactionsList h3 {
  background-image: url(../_img/icons/eye.png);
}

/* line 185, source/style.scss */
#lastTransactions h3 {
  background-image: url(../_img/icons/points.png);
}

/* line 186, source/style.scss */
#mostSpending h3 {
  background-image: url(../_img/icons/smiley-cry.png);
}

/* line 187, source/style.scss */
#cheaper h3 {
  background-image: url(../_img/icons/smiley-grin.png);
}

/* line 188, source/style.scss */
#myImportantTags h3 {
  background-image: url(../_img/icons/tags-label.png);
}

/* line 189, source/style.scss */
#allTags h3 {
  background-image: url(../_img/icons/tags-label.png);
}

/* line 190, source/style.scss */
#assetAllocation h3 {
  background-image: url(../_img/icons/smiley-money.png);
}

/* line 191, source/style.scss */
#accountList > h3 {
  background-image: url(../_img/icons/zone-money.png);
}

/* line 192, source/style.scss */
.transferTo {
  background: url(../_img/icons/arrow.png) no-repeat left center;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 10px;
}

/* line 193, source/style.scss */
.creditCard h3 {
  background-image: url(../_img/icons/credit-card.png);
  color: inherit!important;
}

/* line 194, source/style.scss */
.checking h3 {
  background-image: url(../_img/icons/money-coin.png);
  color: inherit!important;
}

/* line 195, source/style.scss */
.cash h3 {
  background-image: url(../_img/icons/wallet.png);
  color: inherit!important;
}

/* line 196, source/style.scss */
.investment h3 {
  background-image: url(../_img/icons/point.png);
  color: inherit!important;
}

/* line 197, source/style.scss */
.others h3 {
  background-image: url(../_img/icons/money.png);
  color: inherit!important;
}

/* line 199, source/style.scss */
.creditCard {
  color: #d98b26;
}

/* line 200, source/style.scss */
.cash {
  color: #5362d9;
}

/* line 201, source/style.scss */
.investment {
  color: #d9539b;
}

/* line 202, source/style.scss */
.checking {
  color: #25a19d;
}

/* line 203, source/style.scss */
.amount.positive {
  color: #30a168;
}

/* line 204, source/style.scss */
.amount.negative {
  color: #c63a3a;
}

/* line 205, source/style.scss */
tr.toDo td.name {
  background: url(../_img/icons/clock-small.png) no-repeat left center;
  padding-left: 15px;
}

/* line 206, source/style.scss */
.calendarIco {
  background: url(../_img/icons/calendar-blue.png) no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}

/* Blocks */
/* line 209, source/style.scss */
.blockDistance {
  width: 40px;
  display: block;
  float: left;
  height: 20px;
}

/* line 210, source/style.scss */
.block {
  margin: 0 0 40px 0;
  width: 340px;
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 212, source/style.scss */
.block.double {
  width: 100%;
  float: none;
}
/* line 213, source/style.scss */
.block.expanded .balanceInTitle {
  display: none;
}
/* line 214, source/style.scss */
.block.collapsed {
  background: url(../_img/bottomArrow.png) no-repeat 10px center #f7f7f7;
  padding: 7px 0 7px 35px;
  cursor: pointer;
  margin-bottom: 20px;
}
/* line 215, source/style.scss */
.block.collapsed h3 {
  margin-bottom: 0;
}
/* line 216, source/style.scss */
.block.expanded .content {
  margin-top: 20px;
}
/* line 218, source/style.scss */
.block.collapsed .monthSelectInTitle, .block.collapsed .content {
  display: none;
}
/* line 219, source/style.scss */
.block.collapsed .balanceInTitle {
  display: block;
  float: right;
  margin: 9px 5px 0 0;
  color: #999;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 220, source/style.scss */
.block.collapsed .balanceInTitle span {
  padding-left: 20px;
}
/* line 221, source/style.scss */
.block h3 {
  color: #73a8c0;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 23px;
  background-position: 0 center;
  background-repeat: no-repeat;
}
/* line 222, source/style.scss */
.block h3 .actions {
  float: right;
}
/* line 223, source/style.scss */
.block h3 .actions span {
  padding-left: 20px;
  height: 15px;
}
/* line 224, source/style.scss */
.block .monthSelectInTitle {
  margin: 0 5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 225, source/style.scss */
.block .tableList {
  width: 100%;
}

/* line 228, source/style.scss */
.noData {
  white-space: normal;
  line-height: 15px;
  border: none;
  padding: 5px 5px 5px 30px;
  background: url(../_img/icons/exclamation.png) no-repeat 5px center #f7f7f7;
}

/* Graph */
/* line 231, source/style.scss */
.block .graph {
  height: 240px;
}

/* line 232, source/style.scss */
#monthBalanceGraph {
  height: 250px;
}

/* DatePicker */
/* line 236, source/style.scss */
.calendar {
  border: 1px solid #cdcdcd;
  color: #666;
  padding: 2px 0 2px 5px;
  width: 105px;
  background: url(../_img/backgrounds/datePickerInputBg.png) repeat-x right bottom;
  cursor: pointer;
}

/* line 237, source/style.scss */
.calendar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* CSS3 */
/* line 238, source/style.scss */
.ui-datepicker {
  background: white;
  padding: 10px;
  display: none;
  margin: 10px 0 0 0;
}

/* line 239, source/style.scss */
.ui-datepicker {
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* CSS3 */
/* line 240, source/style.scss */
.ui-datepicker .ui-datepicker-close {
  margin: 10px 0 0 0;
}

/* line 241, source/style.scss */
.ui-datepicker select:first-child {
  margin-right: 10px;
}

/* line 245, source/style.scss */
.ui-datepicker-current,
.ui-datepicker-calendar,
.ui-datepicker-prev,
.ui-datepicker-next {
  display: none;
}

/* line 250, source/style.scss */
.fullCalendar .ui-datepicker-current,
.fullCalendar .ui-datepicker-calendar,
.fullCalendar .ui-datepicker-prev,
.fullCalendar .ui-datepicker-next {
  display: block;
}
/* line 251, source/style.scss */
.fullCalendar .ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background: url(../_img/icons/control-180.png) no-repeat center center;
  width: 16px;
  height: 16px;
  text-indent: -999%;
}
/* line 252, source/style.scss */
.fullCalendar .ui-datepicker-next {
  float: right;
  cursor: pointer;
  background: url(../_img/icons/control.png) no-repeat center center;
  width: 25px;
  height: 16px;
  text-indent: -999%;
}
/* line 253, source/style.scss */
.fullCalendar .ui-datepicker-title {
  float: left;
  width: 155px;
  text-align: center;
  padding: 2px 0 0 0;
}
/* line 254, source/style.scss */
.fullCalendar .ui-datepicker-calendar {
  clear: both;
  margin: 25px 0 0 0;
}
/* line 255, source/style.scss */
.fullCalendar .ui-datepicker-week-end {
  color: #999;
}
/* line 256, source/style.scss */
.fullCalendar .ui-datepicker-calendar thead th {
  width: 28px;
  text-align: center;
  font-size: 10px;
  padding: 0 0 10px 0;
}
/* line 257, source/style.scss */
.fullCalendar .ui-datepicker-calendar td {
  text-align: center;
  height: 18px;
}
/* line 258, source/style.scss */
.fullCalendar .ui-datepicker-calendar td a {
  padding: 1px 7px;
  border: 1px solid transparent;
}
/* line 259, source/style.scss */
.fullCalendar .ui-datepicker-calendar td a.ui-state-highlight {
  background: #ffffdf;
  border: 1px solid #ececb9;
}
/* line 261, source/style.scss */
.fullCalendar .ui-datepicker-calendar td a:hover,
.fullCalendar .ui-datepicker-calendar td a.ui-state-active {
  background: #F7F7F7;
  border: 1px solid #CCC;
}

/* Inputs */
/* line 268, source/style.scss */
.ui-datepicker .ui-datepicker-close,
input[type=submit],
.btnOk {
  background: url(../_img/backgrounds/buttonOkBg.png) repeat-x left bottom;
  border: 1px solid #9ce682;
  color: #666;
  font-size: 11px;
  padding: 4px 5px;
  cursor: pointer;
  float: right;
}

/* line 269, source/style.scss */
input[type=button]:active {
  background-image: url(../_img/backgrounds/InputBgInv.png);
  background-position: top left;
}

/* line 272, source/style.scss */
.ui-datepicker .ui-datepicker-close:active,
input[type=submit]:active,
input[type=button].btnOk:active {
  background-image: url(../_img/backgrounds/buttonOkBgInv.png);
}

/* line 275, source/style.scss */
.ui-datepicker .ui-datepicker-close:focus,
input[type=submit]:focus,
input[type=button].btnOk:focus {
  background-image: url(../_img/backgrounds/buttonOkBgInv.png);
}

/* line 276, source/style.scss */
select, input {
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

/* CSS3 */
/* line 277, source/style.scss */
select, input {
  border: none;
  background: url(../_img/backgrounds/InputBg.png) repeat-x left bottom;
  border: 1px solid #cdcdcd;
  color: #999;
  padding: 3px 5px;
  font-size: 11px;
  font-family: inherit;
}

/* line 278, source/style.scss */
input {
  padding: 4px 5px;
}

/* line 279, source/style.scss */
select {
  cursor: pointer;
}

/* line 280, source/style.scss */
select:focus, input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #999;
  background-image: url(../_img/backgrounds/InputBgInv.png);
  background-position: top left;
}

/* line 281, source/style.scss */
input[type=button] {
  cursor: pointer;
}

/* Tags */
/* line 284, source/style.scss */
.tags {
  color: #666;
  font-size: 9px;
}

/* line 285, source/style.scss */
.tags .tagged {
  background: url(../_img/backgrounds/taggedBg.png) left center no-repeat;
  padding: 4px 5px 6px 10px;
  position: relative;
  cursor: default;
}

/* line 286, source/style.scss */
.tags .tagged span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: url(../_img/backgrounds/taggedBg.png) no-repeat right center;
}

/* Blackout */
/* line 289, source/style.scss */
.blackout {
  background: #73a8c0;
  background: rgba(115, 168, 192, 0.6);
}

/* line 290, source/style.scss */
.popUp {
  background: white;
  padding: 20px 25px;
}

/* line 291, source/style.scss */
.popUp {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* CSS3 */
/* line 292, source/style.scss */
.popUp h3 {
  margin-bottom: 35px;
}

/* line 293, source/style.scss */
.popClose {
  background: url(../_img/icons/cross-circle.png) no-repeat center center;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -999%;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* line 294, source/style.scss */
.popUp .fieldset {
  margin: 25px 0 0 0;
}

/* line 295, source/style.scss */
.popUp .message {
  left: 20px;
  right: 20px;
  top: 40px;
  position: absolute;
}

/* NewPage */
/* line 298, source/style.scss */
.newPageBlackout #popUp {
  background: rgba(255, 255, 255, 0.9);
  left: auto!important;
  bottom: 0;
  right: 0!important;
  top: 0!important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 0!important;
  padding: 15px;
  width: 645px!important;
}

/* Photo edit */
/* line 303, source/style.scss */
.changePhoto {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
/* line 307, source/style.scss */
.changePhoto a {
  font-weight: bold;
  display: block;
}

/* UI Autocomplete */
/* line 311, source/style.scss */
.ui-autocomplete {
  position: absolute;
  cursor: default;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
/* line 315, source/style.scss */
.ui-autocomplete li a {
  display: block;
  padding: 5px;
  cursor: pointer;
}
/* line 316, source/style.scss */
.ui-autocomplete li a.ui-state-hover {
  background: #F7F7F7;
  border: 1px solid #CCC;
}

/* Form */
/* line 322, source/style.scss */
form fieldset:first-child,
form fieldset:nth-of-type(1) {
  margin-top: 0;
}
/* line 323, source/style.scss */
form fieldset {
  margin: 15px 0 0 0;
}
/* line 324, source/style.scss */
form label {
  width: 100px;
  display: inline-block;
  padding: 6px 0 0 0;
}
/* line 328, source/style.scss */
form select + label,
form input[type=password] + label,
form select + .exclamation + label,
form input[type=password] + .exclamation + label {
  margin-left: 40px;
  margin-right: 10px;
  width: auto;
}
/* line 329, source/style.scss */
form .valid {
  color: #999;
  padding-left: 10px;
}
/* line 332, source/style.scss */
form #accountName,
form #tagName,
form #profileName {
  width: 190px;
}
/* line 333, source/style.scss */
form #transDescription {
  width: 290px;
}
/* line 334, source/style.scss */
form #selectTags {
  width: 290px;
}
/* line 337, source/style.scss */
form #profilePassword,
form #newProfilePassword,
form #checkProfilePassword {
  width: 80px;
}
/* line 338, source/style.scss */
form #transAmount {
  width: 90px;
  text-align: right;
}
/* line 339, source/style.scss */
form #initialBalance {
  width: 70px;
  text-align: right;
}
/* line 340, source/style.scss */
form .fullCalendar {
  width: 68px;
}
/* line 341, source/style.scss */
form .fullCalendar + .calendarIco {
  vertical-align: top;
  opacity: .6;
}
/* line 342, source/style.scss */
form .fullCalendar + .calendarIco:hover {
  opacity: 1;
}
/* line 344, source/style.scss */
form input + .exclamation,
form select + .exclamation {
  vertical-align: middle;
  margin: 5px 0 0 5px;
  position: absolute;
}
/* line 346, source/style.scss */
form input.verify,
form select.verify {
  border: 1px solid #f2f180;
}

/* line 349, source/style.scss */
.selectOptions {
  display: inline-block;
  vertical-align: top;
}
/* line 350, source/style.scss */
.selectOptions > span {
  opacity: .6;
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-indent: -99999px;
  border: 1px solid white;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
/* line 351, source/style.scss */
.selectOptions > span:hover {
  opacity: 1;
}
/* line 352, source/style.scss */
.selectOptions > span.selected {
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  opacity: 1;
}
/* line 354, source/style.scss */
.selectOptions.transType > span[data-value="2"] {
  background-image: url(../_img/icons/plus-octagon.png);
}
/* line 355, source/style.scss */
.selectOptions.transType > span[data-value="1"] {
  background-image: url(../_img/icons/minus-octagon.png);
}
/* line 356, source/style.scss */
.selectOptions.transType > span[data-value="3"] {
  background-image: url(../_img/icons/arrow-switch.png);
}
/* line 359, source/style.scss */
.selectOptions.accountType > span[data-value="1"] {
  background-image: url(../_img/icons/credit-card.png);
}
/* line 360, source/style.scss */
.selectOptions.accountType > span[data-value="2"] {
  background-image: url(../_img/icons/money-coin.png);
}
/* line 361, source/style.scss */
.selectOptions.accountType > span[data-value="3"] {
  background-image: url(../_img/icons/point.png);
}
/* line 362, source/style.scss */
.selectOptions.accountType > span[data-value="4"] {
  background-image: url(../_img/icons/wallet.png);
}
/* line 363, source/style.scss */
.selectOptions.accountType > span[data-value="5"] {
  background-image: url(../_img/icons/money.png);
}

/* Messages */
/* line 368, source/style.scss */
.message {
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 2px solid #999;
  color: #999;
  background: #f7f7f7;
  margin: 0 0 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
/* line 370, source/style.scss */
.message.success {
  background-color: #e1f7e4;
  border-color: #92b997;
  color: #92b997;
}
/* line 372, source/style.scss */
.message.success .wrap {
  background-image: url(../_img/icons/tick.png);
  padding-left: 65px;
}
/* line 374, source/style.scss */
.message.alert {
  background-color: #ffffdf;
  border-color: #ececb9;
  color: #cbcb8d;
}
/* line 375, source/style.scss */
.message.error {
  background-color: #f6e7e7;
  border-color: #c63a3a;
  color: #c63a3a;
}
/* line 376, source/style.scss */
.message .wrap {
  background-position: 40px center;
  background-repeat: no-repeat;
}
/* line 377, source/style.scss */
.message strong {
  text-decoration: underline;
}

/* Other styles */
/* line 381, source/style.scss */
.footerInfo {
  background: #F7F7F7;
  text-align: right;
  padding: 10px 5px;
  margin: 10px 0 0 0;
  clear: both;
}

/* @section For page styles
===========================*/
/* line 386, source/style.scss */
.myProfile form {
  float: left;
  margin-bottom: 25px;
  width: 431px;
}
/* line 387, source/style.scss */
.myProfile .changePhoto {
  float: left;
  margin-left: 25px;
}
/* line 388, source/style.scss */
.myProfile .fullCalendar {
  margin-right: 43px;
}
/* line 389, source/style.scss */
.myProfile .fieldset {
  width: 431px;
}
/* line 391, source/style.scss */
.myProfile .fieldset input {
  float: right;
  margin-left: 15px;
}
/* line 393, source/style.scss */
.myProfile label[for="profileGender"] {
  width: 41px;
}
